body{

    font-family: 'Quicksand', sans-serif;
}

#map {
    min-height: 350px;
    width: 100%;
}
/* search*/
#autocomplete{
    background-color: #ffff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    text-overflow: ellipsis;
    position:absolute;
    width: 200px;
}
.mb-3{
    margin-bottom: 0px!important;
}
.search{
    margin-top: 55px;
}

/*types*/
.card{
    border: none!important;
}
.card-columns {
    column-count: 2;
}
.container{
    margin-top: 25px!important;
}
#types_holder{
    margin-bottom: 40px;
}
#types{
    padding:0px!important;
}

/* NavBar*/
.social a i {
    font-size: 25px;
    color: #FFFFFF;
    height: 45px;
    width: 50px;
    text-align: center;
    line-height: 43px;
}

/*button*/
.btn{
    width:80px!important;
}

.header{
    font-size:30px;
}
.header p{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;

}